{% extends 'admininterface/base.html' %}
{% load static %}

{% block content %}

    <!--**********************************
        Content body start
    ***********************************-->
    <div class="content-body">
        <!-- row -->
        <div class="container-fluid">
            <div class="row page-titles mx-0">
                <div class="col-sm-6 p-md-0">
                    <div class="welcome-text">
                        <h4>Welcome to BDInsights Analytics!</h4>
                        <!-- <p class="mb-0">Click on Migrate button to start migrating your data.</p> -->
                    </div>
                </div>
                <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                    <ol class="breadcrumb">
                       
                    </ol>
                </div>
            </div>

            
        </div>
        
        <!-- sub moadal -->
        
         <!-- Modal -ad-subadmin ----->
         <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
         <div class="modal-dialog" role="document">
             <div class="modal-content">
                 <div class="modal-header">
                     <h5 class="modal-title" id="exampleModalLabel">Migration Window</h5>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                     </button>
                 </div>
                 
         </div>
     </div>
<!-- Modal -ad-subadmin -ends----> 

        <!-- submodal end -->

    </div>
    <!--**********************************
        Content body end
    ***********************************-->
    
{% endblock %}

{% block scripts %}
<script>

</script>
    
{% endblock %}
