{% extends 'admininterface/base.html' %}
{% load static %}
{% block css %}
<style>
    body {font-family: Arial, Helvetica, sans-serif;}
    
    /* The Modal (background) */
    #myModal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      padding-left: 210px;
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    
    /* Modal Content */
    .modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
    }
    
    /* The Close Button */
    .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
    </style>

{% endblock %}
{% block content %}

<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Resource Migration</h4>
                    <p class="mb-0">Migration Summary</p>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    
                </ol>
            </div>
        </div>

        
        


        <div class="container" role="document">
            <div class="modal-content">
                <form id="confirm_form">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-6">
                                <h3>Source Details</h3>
                                <div class="form-group">
                                    <label for="f_db_source">DB SOURCE</label>
                                    <input id="f_db_source" class="form-control" type="text" name="db_source" list="source_db_list" value='{{form_data.source}}' disabled>
                                </div>
                                <div class="form-group">
                                    <label for="f_db_host">DB HOST</label>
                                    <input id="f_db_host" class="form-control" type="text" name="db_host" value={{form_data.host}} disabled>
                                </div>
                                <div class="form-group">
                                    <label for="f_db_user">DB USER</label>
                                    <input id="f_db_user" class="form-control" type="text" name="db_user" value={{form_data.user}} disabled>
                                </div>
                                <div class="form-group">
                                    <label for="f_db_port">DB PORT</label>
                                    <input id="f_db_port" class="form-control" type="text" name="db_port" value={{form_data.port}} disabled>
                                </div>
                                <div class="form-group">
                                    <label for="f_src_database">Source Database</label>
                                    <input id="f_src_database" class="form-control" type="text" name="db" value={{database_name}} disabled>
                                </div>
                                <div class="form-group">
                                    <label for="f_src_tables">Source Tables</label>
                                    {%for table in table_list %}
                                    <li for="f_src_tables" style="list-style-type: disc; font-size: 16px; font-weight: bold; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">{{table}}</li>
                                    {% endfor %}
                                    
                                </div>
                                
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <h3>Destination Details</h3>
                                    <div class="form-group">
                                        <label for="dest_db">Destination Database</label>
                                        <input id="dest_db" class="form-control" type="text" name="dest_db" value="HDFS" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label for="dest_loc">Target Location</label>
                                        <input id="dest_loc" class="form-control" type="text" name="dest_loc" value={{host}} disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a target="_blank" class="btn btn-primary popupbtn" id="myBtn">Migrate</a>
                    </div>
                </form>
            </div>
            <!-- *************** -->
                <!-- popup -->
                <!-- The Modal -->
                <div id="myModal" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content" style="height: 600px;width:900px;overflow:auto;background-color: #f5f5f5">
                    <span class="close">&times;</span>
                    <p id="progress_txt" style="color:#484855"><span><b>Migration is in progress... Please Wait...</b></span></p>
                    <!-- stderr:
                    <pre style="border: 1px solid #ccc; background-color: #e8e3e3; padding: 9.5px; border-radius: 4px;" id="stderr"><span></span> </pre> -->
                    stdout:
                    <pre style="border: 1px solid #ccc; background-color: #e8e3e3; padding: 9.5px; border-radius: 4px;" id="stdout"><span></span></pre>
                    </div>
                
                </div>
                <!-- *************** -->
        </div>
    </div>
</div>
 
            





{%endblock%}

{% block scripts %}


{%endblock%}
